{{#if isAdmin}}
    <h2>Admin: {{email}}</h2>
    <p>Rol: {{rol}}</p>
{{else}}
    <h2>Bienvenid@ {{first_name}} {{last_name}}</h2>
    <div>
        <p>Email: {{email}}</p>
        <p>Edad: {{age}}</p>
        <p>Rol: {{rol}}</p>
    </div>
{{/if}}
<hr>
<h2>Productos</h2>

<ol>
    {{#each products}}
        <li>
            Id: {{this._id}} <br> Producto: {{this.title}}, Precio: {{this.price}} <br> 
            <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
        </li>
        <br>
    {{/each}}
</ol>

{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/products.js"></script>