<h1>Listado de productos</h1>

{{#each products}}
    <div>
        Id: {{this._id}}, Producto: {{this.title}}, Precio: {{this.price}} 
        <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
    </div>
{{/each}}
{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}
<script src="/js/products.js"></script>