<h1>Perfil</h1>

{{error}}

<h2>Bienvenid@ {{first_name}} {{last_name}}</h2>
<hr>
<div>
    <h3>Mis Datos</h3>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
</div>

<a href="/api/sessions/logout">Cerrar sesion</a>