<h1>Usuarios</h1>
<div>
    <button onclick="eliminarInactivos()">Eliminar Inactivos</button>
</div>
<br><br>
{{#each users}}
    <div>
        Usuario: {{this.fullname}} | Email: {{this.email}} | 
        Rol: {{this.rol}} | Status: {{this.status}} | Última conexión: {{this.last_connection}} 
        {{!-- Si isAdmin = false --}}
        {{#unless this.isAdmin}}
            {{!-- Si isNotComplete = false --}}
            {{#unless this.isNotComplete}}
                <button onclick="switchRol(`{{this.id}}`)">Cambiar Rol</button>
            {{/unless}}
        {{/unless}}
    </div>
{{/each}}
<script src="/js/users.js"></script>